* {
  margin: 0px;
}
.app__headerImage {
  object-fit: contain;
  height: 100px;
  width: 100px;
  background-color: white;
  padding: 10px 20px 0px 20px;
}
.app {
  background-color: #fafafa;
  height: 100%;
}
.app__header {
  border-bottom: 1px solid lightgray;
  object-fit: contain;
  display: flex;
  justify-content: space-between;
  padding-right: 10px;
}
.app__signup {
  display: flex;

  flex-direction: column;
}
.app__posts {
  padding: 20px;
}
.app__postleft {
  padding: 20px;
  display: flex;
  justify-content: contain;
}
